{% extends "base.html" %}

{% block title %}
    Sign Up
{% endblock title %}
{% block content %}
    <main>
        <div class="container-sm form-background">
            <h1 class="text-center my-3">Signup</h1>
            <div class="form-group" align="center">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-2 my-5">
                        {{ form.as_p }}
                        </div>
                    </div>
                    <button>Signup</button>
                </form>
            </div>
        </div>
    </main>
{% endblock content %}
