{% extends "base.html" %}

{% block title %}
    Create Task
{% endblock title %}
{% block content %}
    <main>
        <div class="container-sm form-background">
            <h1 class="text-center my-3">Create a new task</h1>
            <div class="form-group" align="center">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-2 my-5">
                            <label for="name">Name:</label>
                            {{ form.name }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-2 my-5">
                            <label for="start-date">Start date:</label>
                            {{ form.start_date }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-2 my-5">
                            <label for="due-date">Due date:</label>
                            {{ form.due_date }}
                        </div>
                    </div>
                    <div class="row checkbox-row">
                        <div class="col-xs-2 col-xs-offset-4">
                            <label for="is_completed">Is completed:</label>
                            {{ form.is_completed }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-2 my-4">
                            <label for="project">Project:</label>
                            {{ form.project }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-1 my-4">
                            <label for="assignee">Assignee:</label>
                            {{ form.assignee }}
                        </div>
                    </div>
                    <button class="btn btn-success my-2">Create</button>
                </form>
            </div>
        </div>
    </main>
{% endblock content %}
