{% extends "base.html" %}

{% block title %}
Edit - {{ project.name }}
{% endblock title %}

{% block content %}
<main>
    <div class="container-sm form-background">
        <div class="form-group" align="center">
            <form method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-2 my-5">
                        <label for="name">Name:</label>
                        {{ form.name }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-5 my-4">
                        <label for="description">Description:</label>
                        {{ form.description }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-1 my-4">
                        <label for="owner">Owner:</label>
                        {{ form.owner }}
                    </div>
                </div>
                    <button class="btn btn-success my-4">Save</button>
            </form>
        </div>
    </div>
</main>
{% endblock content %}
